<nav>
    <div class="rowSpaceA bloq1">
        <div class = "column" id="title">
            <div routerLink="/" class="rowCenter">
                <p>Rock</p>
                <img id="logo" src="assets/iconos/destelloRed32.png" alt="">
                <p>App</p>
            </div>        
        </div>
        <div class ="rowCenter">
            <div class = "column" id="home">
                <img routerLink="landingPage" id="logo" src="assets/iconos/homeRed24.png" alt="">
            </div>
        </div>
        
    </div>
    
</nav>