
<div id="title" class="row">Conociendo a <span class="nameBand">{{band.name}}</span></div>

<div class="row">
  <div class="columnCenter bloq1" >
      <div  class="row" id="insideBloq1">
          <img  src="{{band.foto}}" alt="" >
          <div class="column">
            <p class= "nameSection">¿Cuándo se formaron?</p>
            <p class="info">{{ band.yearBeginning }}</p>
            <p class= "nameSection">Sobre la banda:</p>
            <p class="info" id="description">{{ band.description }}</p>
            <a class="row" routerLink="/editBand">Editar banda</a>
          </div>
          

      </div>
     
  </div>

</div>
 
<div id="title"x class="row">Melocotonazos de <span class="nameBand">{{band.name}}</span></div>
<div class="row">
  <div>
    <iframe class="e2e-iframe-trusted-src"
      width="420" height="315" [src]="youtubeVideo">
    </iframe>
  </div>
</div>

