.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  margin-right: 50px;
  margin-left: 50px;
}
#title {
  font-family: "Archivo Black", sans-serif;
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 60px;
}

span {
  margin-left: 10px;
}
.nameSection {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(3, 3, 3);
}
.info {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: rgb(24, 23, 23);
}

#description {
  line-height: 1.6;
}

.nameBand {
  color: #a50d0d;
}
.bloq1 {
  margin-top: 30px;
  border-radius: 5px;
  border: solid 1px #a50d0d4b;
  max-width: 830px;
  padding-right: 20px;
  box-shadow: 2px 2px 5px rgb(167, 128, 128);
  margin-bottom: 20px;
}
img {
  max-width: 450px;
  margin-right: 24px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: fit-content;
  box-sizing: border-box;
}

a {
  margin-top: 15px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgb(24, 23, 23);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #a50d0d;
}

@media screen and (max-width: 600px) {
  img {
    display: none;
  }

  .bloq1 {
    border-radius: 5px;
    border: none;
    max-width: 200px;
    box-shadow: none;
    margin-bottom: 20px;
  }

  #title {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    line-height: 1.6;
  }
}
