<p id="title"x class="columnCenter">Agrega tus bandas favoritas de rock</p>
<div class="row">
    <div class="columnCenter bloq1">
        <div  class="row" id="insideBloq1" >
            <img src="assets/bandas/original.jpg" alt="">
            <form  id ="formBand"action ="" [formGroup]="formAddBand">
                <label for="">Nombre de la banda</label>
                <input type="text"  formControlName ="nameBand">
                <label for="">Inicio de la banda</label>
                <input type="text" formControlName ="yearBeginning">
                <label for="">Url de la foto de la banda</label>
                <input type="text" formControlName ="foto">
                <label for="">Url de un videoclip de la banda</label>
                <input type="text" value = "man/" formControlName ="video">
                <textarea name="" maxlength="800" id="" cols="30" rows="10"  formControlName ="description" placeholder="Agrega la historia de la banda"></textarea> 
                <button (click) = "sendBandToService()"  class="columnCenter" id="buttonBand">Añadir banda</button>

                <p id="userResponse">{{response}}</p>
    
            </form>
            
        </div>
    </div>
    
</div>



   


    